- @articles.each do |article|
  %h2.title #{article.title}
  %p.date Posted on #{article.created_at.strftime("%Y-%m-%d")} • #{article.comments.count} Comments
  %br
  = image_tag article.image(:medium)
  %br
  %br
  #{article.body}
  %nav.primary
    %ul
      %li
        %a{"data-toggle" => "tab", href: "#"}  #{article.comments.count} Comments
      %li
        - if current_user
          #{current_user.email}
        - else
          %a{"data-toggle" => "tab", href: "#" } #{Faker::Name.name}
      %li
        - if current_user
          = link_to "Logout", destroy_user_session_path, "method"=>"delete"
        - else
          %a{"data-toggle" => "modal", "data-target" => "#loginModal", href: "#"} Login
  %div.comment
    %ul
      - article.comments.each do |comment|
        %li
          = comment.body
          %div.time-ago-comment #{time_ago_in_words(comment.created_at)}

      %div
        - if current_user.present?
          = simple_nested_form_for article do |f|
            = f.simple_fields_for :comment do |comment|
              = comment.input :body, as: :text, label: false, :input_html => { 'rows' => 4, 'cols' => 80, style: "width: 100%;" }
              = comment.hidden_field :user_id, value: current_user.id
            = f.button :submit, 'Add comment', class: 'btn btn-success', id: 'add_comment'
