.container
  .card.card-block
    %p.card-text Due ot flexbox's nature, columns in bootstrap-flex are always the same height - that of the column with most content.
  .row
    .col-xs-8.offset-xs-2
      %ul.nav.nav-pills
        %li.nav-item
          %a.nav-link.active{"data-toggle" => "tab", href: "#career"} Career
        %li.nav-item
          %a.nav-link{"data-toggle" => "tab", href: "#article"} Article

      .tab-content
        #career.tab-pane.fade.in.active
          = simple_nested_form_for Career.new do |f|
            = f.input :title, label: 'Title'
            = f.input :description, label: 'Description'
            = f.input :education, label: 'Education'
            = f.fields_for :key_qualifications do |key|
              = key.input :body, label: 'Qualification'
              = key.link_to_remove "Remove qualification"
            = f.link_to_add "Add qualification", :key_qualifications
            = f.button :submit, 'Add opportunity', class: 'btn btn-success btn-opp'

        #article.tab-pane.fade
          = simple_nested_form_for Article.new do |f|
            = f.input :title, label: 'Title'
            = f.input :body, label: 'Body'
            = f.hidden_field :user_id, :value => current_user.id
            = f.input :category_id, collection: Category.all, selected: 1
            = f.input :image, label: false
            = f.button :submit, 'Add article', class: 'btn btn-success btn-opp'
      = link_to "home", root_path(), class: 'homepage'
