.container
  .card.card-block
    %p.card-text Due ot flexbox's nature, columns in bootstrap-flex are always the same height - that of the column with most content.
  .row
    .col-xs-3
      %div
        #{Faker::Lorem.word.capitalize}
        %br/
        #{Faker::Lorem.paragraph}
        %nav.main
          %ul
            - @categories.each do |category|
              %li
                = link_to category.title, article_by_category_article_path(category.id), :remote => true

        %nav.main
          %ul
            %li.career_link
              = link_to "Careers", careers_path()
            - if current_user
              %li
                = link_to "Admin menu", admin_menu_dashboard_index_path()

    .col-xs-8#articles
      = render 'articles', articles: @articles

  / Modal
  #loginModal.modal.fade{:role => "dialog"}
    .modal-dialog.modal-sm
      / Modal content
      .modal-content
        .modal-header
          %button.close{"data-dismiss" => "modal", :type => "button"} ×
          %h4.modal-title Login
        .modal-body
          = form_tag session_path(:user) do
            = text_field_tag 'user[email]', nil, placeholder: 'username'
            = password_field_tag 'user[password]', nil, placeholder: 'password'
            / = check_box_tag 'user[remember_me]'
            / = label_tag 'user[remember_me]', 'Remember me'
            %button.login login
            %br
            / = link_to "Forgot your password?", new_password_path(:user)
          = link_to "Sign in with Facebook", user_facebook_omniauth_callback_path(), id: "sign_in"
        .modal-footer
          / %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Close
