.container
  .row
    .col-md-8.career
      %strong #{Faker::Lorem.paragraph}
      %h4.career-title Job Title
      - @careers.each do |career|
        %ul
          %li
            = link_to career.title, career_path(career.id)
            %br
            = truncate(career.description, length: 200)
            %br
            %div.time-ago #{time_ago_in_words(career.created_at)}
