.container
  .row
    .col-md-8
      %strong #{Faker::Lorem.paragraph}
      %h4.career-title #{@career.title}
      %p Summary
      = truncate(@career.summary, length: 1000)
      %br
      %br
      %p Responsibilities:
      %ul
        - @career.key_qualifications.each do |key|
          %li
            = key.body
      %p Description
      = truncate(@career.description, length: 1000)
      %p Education
      = truncate(@career.education, length: 1000)
      %div.time-ago #{time_ago_in_words(@career.created_at)}
