/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";

.container {
  height: 1200px;
  .row {
    .col-xs-3 {
      div {
        border-right: 1px solid grey;
        height: 800px;
        padding: 5px;
      }
    }
  }
}

.card.card-block {
  background: #92B6D5;
}

.title {
  text-align: center;
  margin: 50px auto;
  letter-spacing: -0.025em;
}

.date {
  text-align: center;
}

.main ul {
  padding: 0px;
  margin: 20px auto;
    li {
      list-style-type: none;
    }
    a {
      color: #9c6;
      &:hover {
        color: black;
        text-decoration: none;
      }
    }
}

.primary {
  margin: 10px 0 0 0;
  width: 98%;
    ul {
      list-style-type: none;
      padding: 0px;
      li {
        display: inline;
        padding: 0 15px 0;
        &:last-child {
          float: right;
        }
        &:first-child {
          padding: 0;
        }
      }
    }
}

.modal-title {
  text-align: center;
  font-family: serif;
}

#user_email {
  width: 100%;
  margin-bottom: 10px;
  border-radius: 5px;
  text-align: center;
  font-family: serif;
}

#user_password {
  width: 100%;
  margin-bottom: 10px;
  border-radius: 5px;
  text-align: center;
  font-family: serif;
}

.login {
  width: 100%;
  border-radius: 5px;
  background: #9c6;
  font-family: serif;
}

.career ul {
  padding: 0px;
  margin: 20px auto;
    li {
      list-style-type: none;
      display: inline-block;
      &:hover {
        background: ghostwhite;
        width: 100%;
      }
    }
    a {
      color: #9c6;
      &:hover {
        color: black;
        text-decoration: none;
      }
    }
}

.career-title {
  margin: 15px 0;
}

.time-ago {
  padding: 0 0 0 85%;
}

.time-ago-comment {
  padding: 0 0 0 1%;
}

.comment {
  ul {
      list-style-type: none;
      padding: 0px;
      li {
        padding: 0 15px 10px;
      }
    }
}

.btn-opp {
  width: 100%;
}

.homepage {
  display: block;
  margin-top: 20px;
  text-decoration: underline;
}

#sign_in {
  display: inline-block;
  margin: 10px 0px 0px;
}

#add_comment {
  width: 100%;
}
