<!DOCTYPE html>
<html>
  <head>
    <title>Design Sells</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag :defaults, "nested_form" %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
